absl-py
chex
clu
einops
ml-collections
pandas
--no-deps git+https://github.com/google-research/vision_transformer
tqdm
ipywidgets
numpy
scipy
npy-append-array
matplotlib
scikit-learn
torch
torchvision
jax[cuda12]
optax
flax